// .master {
//     max-width: 1440px;
//     margin: auto;
// }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
  }

